.sidenav-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
mat-sidenav { 
    width: 300px; /* <=== delete that after done testing! */
}
/*
#close-button {
    margin-left: 17px;
    margin-top: 12px;
}
*/