.sidenav-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
mat-sidenav { 
    width: 300px; /* <=== i can __definitely__ do better than that i just don't have enough time 🤷 */
}                 /* oh sorry i just assumed you have unicode (charsetsplaining?). Here you go ¯\_(ツ)_/¯ */