/* BORING STUFF */
::-webkit-scrollbar { display: none; }
:root { /* Color variables - Apple's HIG + my tweaks */
  --text-primary: #000000;
  --text-secondary: #666666;
  --text-captions: #8A8A8F;
  --ui-dividers: #C8C7CC;
  --ui-bg-screen: #EFEFF4;
  --ui-bg: #F9F9F9;

  --color-red: #D73A49;
  --color-red-light: #FFDCE0;
  --color-yellow: #FFCC00;
  --color-yellow-light: #FDF5AD;
  --color-green: #4CD964;
  --color-green-light: #DCFFE4;
  --color-blue: #007AFF;
  --color-blue-secondary:#5AC8FA;
  --color-blue-light: #F1F8FF;
  --color-pink: #FF2D55;
  --color-pink-light: #FCE4EC;
}
html {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
}
body { margin: 0; }

/* TYPOGRAPHY */
h1 { /* Title in header */
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  text-align: left;
  letter-spacing: 1.21%;
}
h2 { /* Card titles */
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: left;
  letter-spacing: 1.21%;
}
h3 { /* Ordinary UI text */
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -2.41%;
}
h4 { /* Bottom nav text */
  font-family: "SF Pro Text";
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 1.2%;
  text-align: center;
}

/* SHELL UI*/
.header .option {
  height: 44px;
  text-align: right;
  margin-right: 16px;
  color: var(--color-blue);
}
.header h1 {
  padding-left: 26px;
  padding-top: 2px;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .child {
  flex: 1 1 auto;
  text-align: center;
}
.nav .child h4 {
  margin-top: 0px;
  color: var(--text-captions);
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
  margin-bottom: 2px;
}
.nav .child.active h4 {
  color: var(--color-blue);
}
img { height: 30%; width: 30%; }